body{
    font-family: cursive;
    color:white;
    background-image:url("bg.png");
    background-size: cover;
    margin:0px;
}
img{
    margin: auto;
    display: block;
}
.header{
    background-color: rgb(200, 200, 200, 0.7);
    height:550px;
}
.logo{
    width: 700px;
    padding:50px;
}
.shiba{
    width: 500px;
}
.introduction{
    background-color: rgb(100, 100, 100, 0.9);
    height:250px;
    text-align: center;
}
.intro-text{
    padding-top:10px;
    font-size:20px;
}
.introduction p{
     margin:0px;
     text-align: left;
     padding-left:20px;
}
.introduction h3{
    margin:0px;
    font-size:40px;
    padding:20px 0px;
}
.sns{
    padding:10px;
    margin:10px;
    border-radius: 5px;
}
.sns:active{
    box-shadow: none;
    position: relative;
    top:10px
}
a{
color:white;
}
.x{
    background-color:rgb(50, 50, 50);
    box-shadow: 0px 10px #000;
}
.youtube{
    background-color: rgb(159, 56, 56);
    box-shadow: 0px 10px #4e1313;
}
